/* Menu Bar */
.menu-bar {
    background-color: var(--blue-light);
    padding: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;   
}

.menu-bar-link {
    color: var(--white-gray);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 23px;
    font-weight: 600;
    position: relative;
    text-decoration: none;
}

.menu-bar-link::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--white);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menu-bar-link:hover {
    color: var(--white);
}

.menu-bar-link:hover::after {
    transform: scaleX(1);
    color: var(--white);
}

.menu-bar-link.active {
    color: var(--green-dark);
    text-decoration: underline var(--green-dark);
}

.menu-bar-link.active::after {
    display: none;
}

.menu-bar-logo {
    width: 10vw;
}

.menu-foto-perfil {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* Sub Menu Perfil*/
.sub-menu-perfil {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 10vw;
    height: 12vh;
    background-color: var(--blue-dark);
    justify-content: space-between;
}

.sub-menu-nome {
    font-size: 20px;
    color: var(--white-gray);
    cursor: pointer;
    user-select: none;
}

.sub-menu-nome:hover {
    color: var(--white);
}

.sub-menu-link {
    height: 100%;
    color: var(--white);
    display: flex;
    align-items: center;
}

.sub-menu-link:hover {
    color: var(--black);
    background-color: var(--blue-neon);
}