/* Menu Bar */
.menu-bar {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 15px var(--black); 
}

.menu-bar-link {  
    font-size: 23px;
    font-weight: 600;
    position: relative;
    text-decoration: none;
}

.menu-bar-link::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menu-bar-link:hover::after {
    transform: scaleX(1);
}

.menu-bar-link.active::after {
    display: none;
}

.menu-bar-logo {
    width: 10vw;
}

.menu-foto-perfil {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* Sub Menu Perfil*/
.sub-menu-perfil {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 11vw;
    height: 9vh;
    justify-content: space-between;
    z-index: 2;
}

.sub-menu-nome {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.sub-menu-link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
}

/* Menu de Gerenciamento */
.menu-manager {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.menu-manager > a {
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 900px) {
    /* Menu Bar */
    .menu-bar {
        padding: 0.3rem;
        gap: 0.4rem;
        box-shadow: -5px -5px 15px var(--black); 
    }

    .menu-bar-link {  
        font-size: 13px;
    }

    .menu-bar-logo {
        width: 5vw;
    }

    .menu-foto-perfil {
        height: 25px;
        width: 25px;
    }

    /* Sub Menu Perfil*/
    .sub-menu-perfil {
        width: 25vw;
        height: 8vh;
        right: 0;
        justify-content: space-between;
        z-index: 2;
    }

    .sub-menu-nome {
        font-size: 12px;
    }

    .sub-menu-link {
        font-size: 10px;
    }

    /* Menu de Gerenciamento */
    .menu-manager {
        height: 20px;
        gap: 0.5rem;
    }

    .menu-manager > a {
        font-size: 10px;
    }
}