.pop-up {
    display: none;
}

.pop-up-message {
    position: absolute;
    left: 43vw;
    top: 5vh;
    padding: 10px;
    display: flex;
    user-select: none;
    z-index: 1;
    background-color: var(--blue-dark);
    flex-direction: row-reverse;
    gap: 5px;
}

.pop-up-message.classic {
    background-color: var(--blue-dark);
}

.pop-up-message.dark {
    background-color: var(--black);
}

.pop-up-message.light {
    background-color: var(--blue-light);
}

.close-pop {
    background-color: transparent;
    border-style: none;
}

.pop-up-message,
.close-pop {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
}
    
.close-pop:hover {
    cursor: pointer;
    color: var(--blue-neon);
}

@media (max-width: 900px) {
    .pop-up-message {
        left: 22vw;
    }
    
    .pop-up-message,
    .close-pop {
        font-size: 15px;
    }
}