/* Slider Página Inicial e Página de Jogo */
.back-swiper {
    width: 100%;
}

.swiper {
    width: 70vw;
    height: 30vh;
    box-shadow: 0px 0px 8px var(--black);
}

.swiper-game {
    width: 60vw;
    height: 45vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-content {
    width: 100%;
    height: 100%;
    display: flex;
}

.swiper-img {
    display: block;
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.swiper-img-game {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 40%;
}

.swiper-text > span:first-child {
    font-size: 28px;
    font-weight: 600;
}

.swiper-text > span:last-child {
    background-color: var(--green-neon);
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

.slide-imgs-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: 50%;
    gap: 15px;
}

.slide-imgs-in {
    width: 42%;
    height: 52%;
    filter: opacity(0.8);
    transition: 0.2s;
}

.slide-imgs-in:hover {
    filter: opacity(1);
    transform: scale(1.1);
}

/* Slider Recomendações*/
.back-swiper-recomedation {
    margin-top: 10px;
}

.swiper-game-recomedation {
    width: 50vw;
    height: 25vh;
    box-shadow: none;
}

.swiper-content-recomedation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
}

.swiper-content-recomedation > .swiper-img {
    height: 40%;
    width: 100%;
}

.swiper-content-recomedation > .swiper-text {
    display: flex;
    height: 60%;
}

.swiper-content-recomedation > .swiper-text > span:first-child {
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 900px) {
    /* Slider Página Inicial e Página de Jogo */
    .swiper {
        height: 15vh;
    }

    .swiper-game {
        width: 60vw;
        height: 45vh;
    }

    .swiper-slide {
        font-size: 12px;
    }

    .swiper-img {
        display: block;
        width: 60%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-img-game {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-text {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 40%;
    }

    .swiper-text > span:first-child {
        font-size: 12px;
    }

    .swiper-text > span:last-child {
        padding: 3px;
        font-size: 13px;
    }

    .slide-imgs-div {
        width: 80%;
        gap: 5px;
    }

    .slide-imgs-in {
        width: 45%;
        height: 45%;
    }

    .swiper {
        width: 70vw;
        height: 15vh;
    }

    /* Slider Recomendações*/
    .back-swiper-recomedation {
        margin-top: 7px;
    }

    .swiper-game-recomedation {
        width: 80vw;
        height: 13vh;
    }

    .swiper-content-recomedation > .swiper-text > span:first-child {
        margin-top: 5px;
        font-size: 10px;
    }

    .swiper-content-recomedation > .swiper-text > span:last-child {
        padding: 3px;
        font-size: 10px;
    }
}